@use "../../global" as g;
//--------------------------------
//  見出し
//--------------------------------
.c-headline__h2 {
    position: relative;
    font-weight: 400;
    font-size: g.rem(24); //  30px
    letter-spacing: g.vwmax(0); //0.12em;
    font-family: g.$font-eng;
    color: g.$color-font-headlineh2-jp;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
    //  サブタイトルの出力
    &:after{
        content: attr(data-subtitle);
        display:block;
        font-size: g.rem(23); 
        color: g.$color-font-headlineh2-eng;
        margin-top: 29px;
        line-height: 16px;
        letter-spacing : 0.5px;
    }
    &:before{
        position : absolute;
        content : "";
        bottom: 38px;
        left: 50%;
        width: 160px;
        height: 1px;
        background-color: g.$color-black;
        transform: translate(-50%, 0);
    }
}

.c-headline__h3 {
    position: relative;
    font-weight: 400;
    font-size: g.rem(24);
    line-height: g.vwmax(32.78);
    letter-spacing: g.vwmax(2.8);
    font-family: g.$font-eng;
    color: g.$color-font-headlineh3-eng;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
}
